/* The Modal (background) */
.Modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.Modal-content {
  background-color: #fefefe;
  border-radius: 4px;
  margin: 10% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.ModalClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ModalClose:hover,
.ModalClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
